<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>i-Cleaning Innovation</title>
<link rel="Shortcut Icon" type="image/x-icon" href="/static/Assets/img/Favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="content-language" content="zh-tw" />
<meta name="keywords" content="清洁, 家庭清洁, 居家清洁, 墨尔本清洁, 家政服务"/>
<meta name="description" content="墨尔本最方便跨界的清洁公司"/>
<meta property="og:title" content="i-Cleaning, 您的私人清洁服务专家" />
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="i-Cleaning Innovation" />
<meta property="og:url" content="http://www.icleaninginnovation.com/"/>
<meta property="og:site_name" content="" />
<meta property="og:description" content="i-Cleaning Innovation"/>
<script type="text/javascript" src="/static/Assets/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/static/Assets/js/jquery-migrate-1.2.1.js"></script>
<link rel="stylesheet" href="/static/Assets/css/all_include.css?v=4.47" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/Assets/css/animate.css" type="text/css" />
</head>
<body>
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-76561663-1', 'auto');
	ga('send', 'pageview');

</script>

    <nav class="navbar navbarArea navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="logo animated logoArea">
            <a class="logo" href="">
              <img src="/static/Assets/img/new/logo/jackercleaning_logo.png">
            </a>
          </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbarListArea">
              <li><a class='navList' href="#homeContent">清洁预约</a></li>
			<li><a class='navList' href="#homeContent">服务项目</a></li>
            <li><a class='navList' href="#footerDomain">关于我们</a></li>
            <li><a class='navList' href="#">常见问题</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav><div id="homeCover">
	<div class="titleArea">
		<img class="logo animated hidden-xs logo" src="/static/Assets/img/new/logo/logo_white.png">
		<h1>i-Cleaning Innovation</h1>
		<h2 class="hidden-xs">智宜居.智创舒适家居生活</h2>
		<p class="hidden-xs">烦人的打扫 让智宜居帮您解决吧！</p>
		<div class="moreArea">
			<div class="moreBtnArea">
				<a href="" class="active btn btnSizeB btnCircle">立刻預約</a>
			</div>
			<div class="moreBtnArea">
				<a href="#" class="btn btnCircle downBtn btnSizeB">瞭解更多</a>
			</div>
		</div>
	</div>

</div>
<div id="homeContent">
	<div class="container">
		<div class="differArea clear">
				<h3 class="homeTitle ">与其他公司差异</h3>
				<div class="homeSideTitle">
					<p class="">全墨尔本服务最优 价格流程透明化</p>
					<p class="">让智宜居成为您家庭的好帮手，省心又省时</p>
				</div>

				<div class="col-md-3 col-sm-3">
					<div class="demo animated differInfoArea">
						<div class="imgArea">
							<img src="/static/Assets/img/new/home/differ_icon1.gif">
						</div>
		                <h4 class="title">PRO | 更专业</h4>
		                <p>服務人員全部經過细選</p>
		                <p>培訓 嚴格標准化服務流程</p>
		                <p>入微之處見證細節決定品質</p>
		            </div>
				</div>
				<div class="col-md-3 col-sm-3">
					<div class="demo animated differInfoArea">
						<div class="imgArea">
							<img src="/static/Assets/img/new/home/differ_icon2.gif">
						</div>
		                <h4 class="title">CREATIVE | 更创新</h4>
		                <p>打破傳統的清洁模式</p>
		                <p>用創新的技術為您帶來</p>
		                <p>一個真正的無菌之家</p>
		            </div>
				</div>
				<div class="col-md-3 col-sm-3">
					<div class="demo animated differInfoArea">
						<div class="imgArea">
							<img src="/static/Assets/img/new/home/differ_icon3.gif">
						</div>
		                <h4 class="title">WARM | 更貼心</h4>
		                <p>打掃不乾淨重新打掃</p>
		                <p>指定時間内達到標准</p>
		                <p>對客户定期回訪</p>
                        <p>建立与您的完美客户关系</p>
		            </div>
				</div>
                <div class="col-md-3 col-sm-3">
					<div class="demo animated differInfoArea">
						<div class="imgArea">
							<img src="/static/Assets/img/new/home/differ_icon3.gif">
						</div>
		                <h4 class="title">SAFE | 更安全</h4>
		                <p>具有良民证和第三方保险</p>
		                <p>損壞物品保險理賠</p>
		                <p>入户更安心 免除您的後顧之優</p>
		            </div>
				</div>
			</div>
		</div>

<div class="howUseArea clear">
	<div class="container">
				<h3 class="homeTitle">我要如何預約清潔服務</h3>
				<div class="homeSideTitle">
					<p class="">30秒輕鬆完成預訂服務，今天訂明天掃</p>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="serveInfoArea">
						<div class="imgArea">
							<img src="/static/Assets/img/new/home/reserve_icon1.png" alt="台中家事">
						</div>
		                <h5 class="title">1. 填寫需要和聯絡資料</h5>
		                <p>填寫您的需求與資料，並透過線上即時預約系統，確認到府時間，系統會立即為您安排清潔人員。</p>

		            </div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="serveInfoArea">
						<div class="imgArea">
							<img src="/static/Assets/img/new/home/reserve_icon2.png" alt="台北居家清潔">
						</div>
		                <h5 class="title">2. 選擇付款方式</h5>
		                <p>潔客幫採預先付款，多樣化的付款方式供您選擇，付款完成後，訂單自動成立。</p>

		            </div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="serveInfoArea">
						<div class="imgArea">
							<img src="/static/Assets/img/new/home/reserve_icon3.png" alt="桃園打掃服務">
						</div>
		                <h5 class="title"> 3. 收取服務確認信</h5>
		                <p>訂單成立後，立即收到來自潔客幫的服務確認信，提醒您服務內容及提供服務人員資訊。</p>

		            </div>
				</div>
				<div class="col-md-3 col-sm-6 ">
					<div class="serveInfoArea">
						<div class="imgArea">
							<img src="/static/Assets/img/new/home/reserve_icon4.png" alt="桃園家事清潔">
						</div>
		                <h5 class="title">4. 清潔人員主動聯繫</h5>
		                <p>服務前一天傍晚，服務人員將主動致電與您聯繫，提醒您並確認服務內容，若有任何需求也可以提前告知喔！</p>

		            </div>
				</div>
	</div>
</div>
<div class="choiseArea clear">
	<div class="container">
				<h3 class="homeTitle">請選擇清潔項目</h3>
				<div class="homeSideTitle">
					<p class="">家庭生活清潔，不用煩惱，家事一手幫</p>
				</div>
				<div class="col-md-3 col-sm-4 choiseService">
					<a class="serviceArea" href="#">
						<h6>日常清洁</h6>
						<div class="choiseInner">
							<div class="imgArea">
									<img src="/static/Assets/img/new/choice/item1.png" alt="居家清潔鐘點打掃">
							</div>
								<p class="fee">$<span>400</span>元/時</p>
								<p class="choiceInfo">一般居家环境清洁，包括客厅、厨房、卫浴、房间清洁。</p>
								<div class="text-center">
									<div class="btn btnMain">立即訂購</div>
								</div>

						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-4 choiseService">
					<a class="serviceArea" href="#">
						<h6>定期保洁</h6>
						<div class="choiseInner">
							<div class="imgArea">
									<img src="/static/Assets/img/new/choice/item2.png" alt="台中桃園大掃除第一口碑">
							</div>
								<p class="fee">$<span>400</span>元/時</p>
								<p class="choiceInfo">专业保洁人员，长期定时居家清洁。</p>
								<div class="text-center">
									<div class="btn btnMain">立即訂購</div>
								</div>

						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-4 choiseService">
					<a class="serviceArea" href="#">
						<h6>装潢清洁</h6>
						<div class="choiseInner">
							<div class="imgArea">
									<img src="/static/Assets/img/new/choice/item3.png" alt="最多部落客推薦定期清節">
							</div>
								<p class="fee">$<span>370</span>元/時</p>
								<p class="choiceInfo">装潢后的清洁预约，专业估价。</p>
								<div class="text-center">
									<div class="btn btnMain">立即訂購</div>
								</div>

						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-4 choiseService">
					<a class="serviceArea" href="#">
						<h6>大扫除</h6>
						<div class="choiseInner">
							<div class="imgArea">
									<img src="/static/Assets/img/new/choice/item8.png" alt="鐘點計費清潔">
							</div>
								<p class="fee">$<span>370</span>元/時</p>
								<p class="choiceInfo">深层次、全方位的清洁打扫和整理服务。</p>
								<div class="text-center">
									<div class="btn btnMain">立即訂購</div>
								</div>

						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-4 choiseService">
					<a class="serviceArea" href="#">
						<h6>办公室清洁</h6>
						<div class="choiseInner">
							<div class="imgArea">
									<img src="/static/Assets/img/new/choice/item4.png" alt="專業裝潢後清潔服務">
							</div>
								<p class="fee">專人估價</p>
								<p class="choiceInfo">办公室、会议室、茶水间等清洁以及收集垃圾。</p>
								<div class="text-center">
									<div class="btn btnMain">立即訂購</div>
								</div>

						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-4 choiseService">
					<a class="serviceArea" href="#">
						<h6>服务式公寓清洁</h6>
						<div class="choiseInner">
							<div class="imgArea">
									<img src="/static/Assets/img/new/choice/item5.png" alt="專業除塵蟎">
							</div>
								<p class="fee">$<span>1200</span>元起</p>
								<p class="choiceInfo">德國專業機器去除塵蟎，過敏不再來</p>
								<div class="text-center">
									<div class="btn btnMain">立即訂購</div>
								</div>

						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-4 choiseService">
					<a class="serviceArea" href="#">
						<h6>干洗服务</h6>
						<div class="choiseInner">
							<div class="imgArea">
									<img src="/static/Assets/img/new/choice/item6.png" alt="洗衣機拆洗服務">
							</div>
								<p class="fee">$<span>1800</span>元起</p>
								<p class="choiceInfo">提供专用收送清洗衣物的服务。</p>
								<div class="text-center">
									<div class="btn btnMain">立即訂購</div>
								</div>

						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-4 choiseService">
					<a class="serviceArea" href="#">
						<h6>退房清洁</h6>
						<div class="choiseInner">
							<div class="imgArea">
									<img src="/static/Assets/img/new/choice/item7.png" alt="貼心清潔打掃服務">
							</div>
								<p class="fee">我要兌換</p>
								<p class="choiceInfo">租约结束大翻新，达到中介要求，有押金保障。</p>
								<div class="text-center">
									<div class="btn btnMain">立即訂購</div>
								</div>

						</div>
					</a>
				</div>
			</div>
	</div>
	<div class="container newsSection">
		<h3 class="homeTitle">最新消息</h3>
		<div class="col-sm-12">
			<div class="bannerSlideArea">
			    <div class="item">
			    	<a href="home/card">
			    		<img src="/static/Assets/img/new/banner/banner_1.png" alt="台中口碑清潔公司">
		    		</a>
		    	</div>
		    	<div class="item">
		    		<a href="blog/blogList">
			    		<img src="/static/Assets/img/new/banner/banner_5.png" alt="大掃除第一品牌">
			    	</a>
		    	</div>
		    	<div class="item">
		    		<a href="book/mite">
			    		<img src="/static/Assets/img/new/banner/banner_8.png" alt="桃園台中新竹專業清潔">
			    	</a>
		    	</div>
			</div>
		</div>
	</div>

</div><!-- homeContent -->

<div class="mediaSection">
	<!-- <div class="mediaReport"> -->
		<h3 class="mediaSubTitle">媒體報導</h3>
		<div class="container">
		<div class="mediaLinks">
			<div class="media ">
				<div class="imgSection">
					<img id="inside" src="/static/Assets/img/inside.jpg" alt="台中清潔" >
				</div>
				<h4 class="mediaName">硬塞的科技網誌</h4>
				<div class="divisionLine"></div>
				<p class="articleTitle">數字科技宣佈投資O2O服務潔客幫，擴張垂直領域版圖！</p>
				<a href="http://www.inside.com.tw/2015/11/17/addcn-invent-jacker-cleaner" class="articleLink" target="_blank">看全文&GT;</a>
			</div>
			<div class="media ">
				<div class="imgSection">
					<img id="set" src="/static/Assets/img/new/home/set.png" alt="新竹清潔公司" >
				</div>
				<h4 class="mediaName">三立新聞網</h4>
				<div class="divisionLine"></div>
				<p class="articleTitle">看準到府清潔商<br>潔客幫拚當台灣「家政界Uber」</p>
				<a href="http://www.setn.com/News.aspx?NewsID=112480" class="articleLink" target="_blank">看全文&GT;</a>
			</div>
			<div class="media ">
				<div class="imgSection">
					<img id="chinatimes"src="/static/Assets/img/chinatimes.png" alt="桃園打掃" >
				</div>
				<h4 class="mediaName">中時電子報</h4>
				<div class="divisionLine"></div>
				<p class="articleTitle">服務細分時代<br>家政共享兩岸夯</p>
				<a href="http://www.chinatimes.com/newspapers/20160228000722-260301" class="articleLink" target="_blank">看全文&GT;</a>
			</div>
			<div class="media ">
				<div class="imgSection">
					<img id="tech_orange" src="/static/Assets/img/new/home/tech_orange.png" alt="台中居家清潔" >
				</div>
				<h4 class="mediaName">Tech Orange 科技報橘</h4>
				<div class="divisionLine"></div>
				<p class="articleTitle">潔客幫到府清潔服務，完全是魚乾女 OL 救星</p>
				<a href="http://buzzorange.com/techorange/2015/04/30/orangebase-jacker-cleaner/" class="articleLink" target="_blank">看全文&GT;</a>
			</div>

		</div>
	</div>
</div>
<div class="appDownloadArea">
	<div class="container androidBox">
		<h3 class="homeTitle">告別傳統，清潔好方便</h3>
		<div class="col-sm-12">
			<ul class="howGood">
				<li>一指下單，輕鬆預約：30秒輕鬆完成預定，最快今天訂明天掃。</li>
				<li>貼身管家，貼心提醒：完整訂購紀錄，自動推播服務內容。</li>
				<li>評價回饋，追求卓越：您的聲音讓我們持續追求卓越的服務品質。</li>
			</ul>
			<div class="downloadArea">
				<div class="downloadBox">
					<a href="https://play.google.com/store/apps/details?id=com.jackercleaning.jackerbon">
						<img src="/static/Assets/img/new/googleplay_badge.png" alt="預約清潔">
					</a>
				</div>
				<div class="downloadBox">
					<a href="https://itunes.apple.com/tw/app/jie-ke-bang/id1053188259?l=zh&mt=8">
						<img src="/static/Assets/img/new/appstore_badge.png" alt="預約打掃">
					</a>
				</div>
			</div>
		</div>
	</div>


</div>
<script src="/static/Assets/js/owl.carousel.js"></script>
<script type="text/javascript">
$('.bannerSlideArea').owlCarousel({
    margin:15,
 	nav:true,
 	loop:true,
 	dots:false,
    autoplay:true,
    autoplayTimeout:1200,
    autoplayHoverPause:true,
 	responsive:{
 		0:{
 			item:1
 		},
 		600:{
 			item:3
 		},
 		1000:{
 			item:5
 		}
 	}
 });
 $('.customerFeedbacks').owlCarousel({
 	margin:10,
 	nav:false,
 	loop:true,
 	dots:false,
    autoplay:true,
    autoplayTimeout:1000,
    items:4,
    merge:true,
    autoplayHoverPause:true,
    responsive:{
        678:{
            mergeFit:true
        },
        1000:{
            mergeFit:false
        }
    }
 });

$('.downBtn').click(function(){
	$('html, body').animate({
        scrollTop: $("#homeContent").offset().top
    }, 1000);
});

</script>


<footer id="footerDomain">
  <div class="container">
      <div class="col-md-8 col-sm-12">
        <div class="footerLogoArea">
          <img alt="新竹台北台中打掃公司" class="img-responsive" src="Assets/img/new/logo/logo_square.png?>">
        </div>
        <div class="footerInfo">
          <p>09:00- 19:00全年无休</span></p>
          <p>1234567890 <a href='mailto:info@icleaninginnovation.com.au'>邮箱地址</a> info@icleaninginnovation.com.au</p>
          <p>墨尔本地址</p>
          <ul class="serviceList">
            <li class="">
                <a href="book/choice">清潔預約</a>
            </li>
            <li>
              <a href="home/about">關於我們</a>
            </li>
            <li>
              <a href="home/help">常見問題</a>
            </li>
            <li>
              <a href='mailto:service@jackercleaning.com'>聯絡我們</a>
            </li>
            <li>
                <a href="home/policy">網站條款</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-xs-12">
      <div class="footerWordsArea">
        <div class='footerKeyWords'>
          Keywords:
          <a href="sitemap.xml" title="台北居家清潔" target="_blank"><strong>台北居家清潔</strong></a>
          <a href="sitemap.xml" title="新北市清潔打掃" target="_blank"><strong>新北市清潔打掃</strong></a>
          <a href="sitemap.xml" title="新竹清潔打掃" target="_blank"><strong>新竹清潔打掃</strong></a>
          <a href="sitemap.xml" title="台中清潔打掃" target="_blank"><strong>台中清潔打掃</strong></a>
          <a href="sitemap.xml" title="桃園家事服務" target="_blank"><strong>桃園家事服務</strong></a>
          <a href="sitemap.xml" title="打掃服務" target="_blank"><strong>打掃服務</strong></a>
          <a href="sitemap.xml" title="清潔打掃" target="_blank"><strong>清潔打掃</strong></a>
          <a href="sitemap.xml" title="家事清潔" target="_blank"><strong>家事清潔</strong></a>
          <a href="sitemap.xml" title="居家清潔" target="_blank"><strong>居家清潔</strong></a>
        </div>
        <p class="footerKeyWords">
            © i-Cleaning 2014~2015 All Right Reserve
        </p>
      </div>
    </div>
  </div>
</footer>
<div id="fb-root"></div>
<script type="text/javascript">
    window.GLOBALVAR  = {
      "BASE_URL" : "",
      "SITE_URL" : "",
      "HOUR_FEE" : 400,
      "TOMORROW" : "2016/07/28 00:00:00",
      "SHARE_CUPON" :100,
    };
</script>
<!--<script type="text/javascript" src="home/region"></script>-->
<script type="text/javascript" src="Assets/js/all_include.js?v=3.50"></script>
<!--动画效果-->
<script language="javascript">
//	$(window).scroll(function () {
//		if ($(window).scrollTop() == $(document).height() - $(window).height()) {
////			animate(".demo", 'flipInX');
//			alert("haha");
//			return false;
//		}
//	});
function mScroll(id){
	$("html,body").stop(true);
	$("html,body").animate({scrollTop: $("#"+id).offset().top}, 1000);
}

function animate(element_ID, animation) {
	$(element_ID).addClass(animation);
	var wait = window.setTimeout( function(){
		$(element_ID).removeClass(animation)}, 1500
	);
}

$(document).ready(function(){
	animate(".logo", 'flipInX');
});

$(document).ready(function() {
	$(".navList").click(function() {
		$("html, body").animate({
			scrollTop: $($(this).attr("href")).offset().top + "px"
		}, {
			duration: 200,
			easing: "swing"
		});
		animate(".demo", 'flipInX');
		return false;
	});
});

// Animation
$(window).scroll(function () {
	if ($(window).scrollTop() <= 10){
		animate(".logo", 'flipInX');
	}
//	if ($(window).scrollTop() == $(".demo").offset.top()){
//
//		animate(".demo", 'flipInX');
//	}
	});
</script>
</body>
</html>