<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>i-Cleaning 我们怎么帮助您呢</title>
<link rel="Shortcut Icon" type="image/x-icon" href="/static/Assets/img/Favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="content-language" content="zh-tw" />
<meta name="keywords" content="清洁, 家庭清洁, 居家清洁, 墨尔本清洁, 家政服务"/>
<meta name="description" content="墨尔本最方便跨界的清洁公司"/>
<meta property="og:title" content="i-Cleaning, 您的私人清洁服务专家" />
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="i-Cleaning Innovation" />
<meta property="og:url" content="http://www.icleaninginnovation.com/"/>
<meta property="og:site_name" content="" />
<meta property="og:description" content="i-Cleaning Innovation"/>
<script type="text/javascript" src="/static/Assets/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/static/Assets/js/jquery-migrate-1.2.1.js"></script>
<link rel="stylesheet" href="/static/Assets/css/all_include.css?v=4.47" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/Assets/css/animate.css" type="text/css" />
</head>
<body>
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-76561663-1', 'auto');
	ga('send', 'pageview');

</script>

<nav class="navbar navbarArea navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="logo animated logoArea">
        <a class="logo" href="">
        </a>
      </div>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbarListArea">
          <li><a class='navList' href="/">清洁预约</a></li>
        <li><a class='navList' href="/">服务项目</a></li>
        <li><a class='navList' href="/about">关于我们</a></li>
        <li><a class='navList' href="/help">常见问题</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>

</nav>
<div id="help">

    <div style="padding-top: 5%"class="container_help" >
        <div class="innerSection ">
            <div class="innerarea row">
                <!-- categorys -->
                <div class="categorys col-md-3 col-sm-4">

                    <div class="category categorySelected" data-category="0">
                        <p>常見問題</p>
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </div>

                    <div class="category                     " data-category="1">
                        <p>帳戶資訊</p>
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </div>
                    <div class="category                     " data-category="2">
                        <p>清潔用品</p>
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </div>
                    <div class="category                     " data-category="3">
                        <p>定期清潔</p>
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </div>
                    <div class="category                     " data-category="4">
                        <p>計費方式</p>
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </div>
                    <div class="category                     " data-category="5">
                        <p>預約時間</p>
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </div>
                    <div class="category                     " data-category="6">
                        <p>取消或更改服務</p>
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </div>
                    <div class="category                     " data-category="7">
                        <p>發票問題</p>
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </div>
                    <div class="category                     " data-category="8">
                        <p>服務人員</p>
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </div>
                    <div class="category                     " data-category="9">
                        <p>安全保障</p>
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </div>
                </div>
                <div class="col-md-9 col-sm-8 row">
                    <h3 id="categoryTitle">常見問題</h3>
                    <!-- questions -->
                    <div class="col-md-5 col-sm-6" >
                        <div class="questions">
                            <div style="display:none;" class="questionTitle category2" faqNo="1">
                                <p>如何計算清潔費用呢？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->

                            <div class="questionSelected questionTitle category2 commonFaq" faqNo="2">
                                <p>鐘點清潔如何確定時間？</p>
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </div>
                            <!-- $eachClass==0 -->

                            <div class=" questionTitle category2 commonFaq" faqNo="3">
                                <p>如何預估鐘點清潔的時間？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->

                            <div class=" questionTitle category2 commonFaq" faqNo="5">
                                <p>鐘點清潔做不完可以加時嗎？ </p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->

                            <div class=" questionTitle category2 commonFaq" faqNo="6">
                                <p>突然有事我可以延期嗎？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->

                            <div class=" questionTitle category8 commonFaq" faqNo="7">
                                <p>每次都派幾位服務人員？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->

                            <div class=" questionTitle category2 commonFaq" faqNo="8">
                                <p>有提供收納整理的服務嗎？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category1" faqNo="9">
                                <p>如何成為會員？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category1" faqNo="10">
                                <p>為什麼我要成為潔客幫會員？有什麼好處？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category4" faqNo="11">
                                <p>如何計算清潔費用呢？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category5" faqNo="12">
                                <p>如何確定時間？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category5" faqNo="13">
                                <p>潔客幫是如何預估時間？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category5" faqNo="14">
                                <p>預約時數太多怎麼辦？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category5" faqNo="15">
                                <p>做不完可以加時嗎？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category5" faqNo="16">
                                <p>突然有事我可以延期嗎？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category3" faqNo="18">
                                <p>我該如何預約定期清潔？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category3" faqNo="19">
                                <p>定期清潔可以提供先試做嗎？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category3" faqNo="20">
                                <p>定期清潔過程中，我不滿意服務人員可以更換嗎？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category3" faqNo="21">
                                <p> 定期清潔有什麼優惠呢？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category3" faqNo="22">
                                <p>定期清潔一定要四小時嗎？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category4" faqNo="23">
                                <p>我可以選擇哪些付費方式？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category4" faqNo="24">
                                <p>一定要事先預付嗎？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category4" faqNo="25">
                                <p>為什麼我無法選擇ATM轉帳及超商代碼繳費？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category4" faqNo="26">
                                <p>信用卡卡刷卡不成功？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category4" faqNo="27">
                                <p>優惠代碼使用方式</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category5" faqNo="29">
                                <p>為什麼沒有顯示我想選擇的時段？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category5" faqNo="31">
                                <p>我要如何評估預約時間？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category6" faqNo="32">
                                <p>臨時有事，可以取消或改期嗎？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category6" faqNo="33">
                                <p>取消或更改服務酌收手續費</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category6" faqNo="34">
                                <p>如何申請退款？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category6" faqNo="35">
                                <p> 退款需要多久的時間？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category6" faqNo="36">
                                <p>遇到颱風天該怎麼辦呢？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category7" faqNo="37">
                                <p>我可以選擇哪些發票方式</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category7" faqNo="38">
                                <p> 個人戶電子（二聯）發票</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category7" faqNo="39">
                                <p>三聯式紙本發票</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category7" faqNo="40">
                                <p>載具發票 </p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category8" faqNo="41">
                                <p>想要指定／排除特定的服務人員？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category8" faqNo="42">
                                <p>服務人員什麼時候會跟我聯絡？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category8" faqNo="43">
                                <p>服務人員值得信任嗎？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category8" faqNo="44">
                                <p>服務人員發生意外該怎麼辦？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category8" faqNo="45">
                                <p>服務人員直接找我接單、改期、取消？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category9" faqNo="46">
                                <p>物品損壞該怎麼辦？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category9" faqNo="47">
                                <p>支付安全</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category2" faqNo="48">
                                <p>潔客幫攜帶哪些清潔用品？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category2" faqNo="49">
                                <p>潔客幫不會攜帶的清潔用品？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category3" faqNo="50">
                                <p>有提供收納整理的服務嗎？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category5" faqNo="51">
                                <p>服務地區包含哪些？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category5" faqNo="52">
                                <p>週末、假日也可以預約嗎？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category5" faqNo="53">
                                <p> 可以當天訂、當天清潔嗎？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category5" faqNo="54">
                                <p>預約後多久可以派人？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category5" faqNo="55">
                                <p>清潔項目包含哪些？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category5" faqNo="56">
                                <p>非服務範圍包含哪些？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category5" faqNo="57">
                                <p> 我該選擇哪一種清潔服務？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category5" faqNo="58">
                                <p> 服務過程中，我一定要在家嗎？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category1" faqNo="59">
                                <p>有提供收納服務嗎？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <div style="display:none;" class="questionTitle category6" faqNo="60">
                                <p>如果我填錯地址或錯行政區域，還能提供服務嗎？</p>
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </div>
                            <!-- $eachClass==0 -->
                            <!-- faq -->
                        </div>
                    </div>
                    <!-- answers -->
                    <div class="answers col-md-7 col-sm-6">
                        <p class="answer" id="ans2">
                            點選您欲清掃的日期，網站上會列出所有目前可供預約的時間，只要完成預約就代表您的訂單已經成立，付款後會為您保留服務人員。                            </p>
                        <p style="display:none;" class="answer" id="ans1">
                            潔客幫收費方式以鐘點計費，每小時$400元，最少預約時間為三小時，若需要服務人員攜帶清潔劑及工具，則另外酌收$100元，所有收費變化將即時反應在預定功能的帳單資訊中。<br />
                        </p>

                        <p style="display:none;" class="answer" id="ans2">
                            點選您欲清掃的日期，網站上會列出所有目前可供預約的時間，只要完成預約就代表您的訂單已經成立，付款後會為您保留服務人員。                            </p>

                        <p style="display:none;" class="answer" id="ans3">
                            潔客幫是根據平均的狀況由系統估算，您可透過鐘點清潔頁面提供的估時計算器提供的時數作為依據，系統估算是給您做為參考，但每個人家裡的清潔狀況不同，所以還是請您斟酌自家的狀況，增減清潔時數。                            </p>

                        <p style="display:none;" class="answer" id="ans5">
                            如果當天服務有加時的狀況，可以當天與服務人員協調，可否配合加時。若服務人員無法配合，則麻煩您再預定下一次的清潔服務，並不保證一定能夠加時。加時費用比照鐘點費，每小時$400元，半小時$200元，未滿半小時以半小時計算。可將加時費用直接交給服務人員。                            </p>

                        <p style="display:none;" class="answer" id="ans6">
                            最晚需於服務日前一天晚上6點以前，聯絡潔客幫延期。<br />
                            1. 取消服務退款將酌收整體費用5%為金流手續費用<br />
                            2. 服務開始前一日18:00後取消或更改酌收整體服務費用30%<br />
                            3. 已於開始服務時間取消服務則酌收整體服務費用50%                            </p>

                        <p style="display:none;" class="answer" id="ans7">
                            預定8小時以內只派一位服務人員，超過8小時(含)以上的服務，系統會自動拆成2人*4小時，以此類推，節省您寶貴的時間。費用根據總時數計算，例：2人*4小時，總時數仍為8小時。                            </p>

                        <p style="display:none;" class="answer" id="ans8">
                            潔客幫目前皆以清潔為主、收納為輔，且收納依每個人習慣與私人物品的擺放而不同，因此仍需麻煩由您在現場判定收納的方式、範圍，並給予服務人員指示。                            </p>

                        <p style="display:none;" class="answer" id="ans9">
                            您可以透過手機號碼免費註冊，3分鐘完成會員註冊。                            </p>

                        <p style="display:none;" class="answer" id="ans10">
                            是否潔客幫會員，都可以預定清潔服務。成為會員可享：<br />
                            1. 使用好友邀請優惠。<br />
                            2. 資料會自動記憶，不需一再重複輸入預訂資料。<br />
                            3. 定期收到潔客幫寄發的電子報，第一手優惠資訊。<br />
                            4. 管理您的優惠券、查看優惠券使用情況。<br />
                            5. 可查詢預定紀錄，也可自行更改、取消訂單。（目前僅開放更動一次，若需更動兩次以上，請聯繫潔客幫客服人員。）<br />
                        </p>

                        <p style="display:none;" class="answer" id="ans11">
                            潔客幫收費方式以鐘點計費，每小時$400元，最少預約時間為三小時，若需要清潔服務人員攜帶專業環保清潔用品，則另外酌收$100元，所有收費變化將即時反應在預定功能的帳單資訊中。<br />
                        </p>

                        <p style="display:none;" class="answer" id="ans12">
                            點選您欲清掃的日期，網站上會列出所有目前可供預約的時間，只要完成預約就代表您的訂單已經成立，付款後會為您保留服務人員。                            </p>

                        <p style="display:none;" class="answer" id="ans13">
                            潔客幫是根據平均的狀況由系統估算，系統估算是給您做為參考，但每個人家裡的清潔狀況不同，所以還是請您斟酌自家的狀況，增減清潔時數。<br />
                        </p>

                        <p style="display:none;" class="answer" id="ans14">
                            若服務人員在時間內提早清掃完畢，可為您做更細部的清潔，例如窗溝、櫥櫃內部、洗曬衣物、陽台窗台⋯等等額外的服務，已完成您所預定的清潔時數，若是還有剩餘的時間，提供同等價值的折抵碼與您。<br />
                        </p>

                        <p style="display:none;" class="answer" id="ans15">
                            如果當天服務有需要加時的狀況，可以當天與服務人員協調，可否配合加時，不保證一定能夠加時。<br />
                            若服務人員無法配合，則麻煩您再預定下一次的清潔服務，加時費用比照鐘點費，每小時$400元，半小時$200元，未滿半小時以半小時計算。可將加時費用直接交給服務人員。                            </p>

                        <p style="display:none;" class="answer" id="ans16">
                            最晚需於服務日前一天晚上6點以前，聯絡潔客幫延期。<br />
                            1. 取消服務退款將酌收整體費用5%為金流手續費用<br />
                            2. 服務開始前一日18:00後取消或更改酌收整體服務費用30%<br />
                            3. 已於開始服務時間取消服務則酌收整體服務費用50%<br />
                        </p>

                        <p style="display:none;" class="answer" id="ans18">
                            填寫定期清潔申請單，我們將於收到申請單後3個工作天內與您聯絡。<br />
                        </p>

                        <p style="display:none;" class="answer" id="ans19">
                            您可以自行先預訂單次性的居家清潔服務，並安排在您欲定期的星期幾與時段，若您滿意再填寫定期預約申請單，並備註您希望指定的服務人員。<br />
                        </p>

                        <p style="display:none;" class="answer" id="ans20">
                            可以，請來信 service@jackercleaning.com 或來電客服 02-25959770 告知，我們將為您更換其他清潔服務人員。                            </p>

                        <p style="display:none;" class="answer" id="ans21">
                            一般居家清潔我們主要以小時計費，一小時400元。<br />
                            定期客戶可以有更優惠的價格可以使用服務喔！<br />
                            雙週一次：優惠價$9360元／原價$9600元<br />
                            每週一次：優惠價$18240元／原價$19200元<br />
                            每週兩次以上：原價$35520元／優惠價$38400元<br />
                            <br />
                            您可以直接預約定期清潔：http://www.jackercleaning.com/book/term<br />
                        </p>

                        <p style="display:none;" class="answer" id="ans22">
                            如欲享有優惠方案則每次清潔至少4小時起跳，可增加時數，按定期優惠鐘點費計算。若只需要3小時，則無優惠，但可優先保留指定的服務人員。                            </p>

                        <p style="display:none;" class="answer" id="ans23">
                            我們提供多樣的付款方式，您可以選擇信用卡、實體ATM、虛擬ATM以及超商繳費等付款方式。<br />
                        </p>

                        <p style="display:none;" class="answer" id="ans24">
                            潔客幫目前提供之服務皆要事先預付款項，才能成功成立訂單並為您保留服務人員。服務人員的出席與品質，潔客幫皆會為您把關，若有損害到您權益的事情發生，我們也會全權負責，請您不必擔心。<br />
                            <br />
                            <br />
                        </p>

                        <p style="display:none;" class="answer" id="ans25">
                            兩天以內的訂單，僅接受線上信用卡刷卡與虛擬ATM（需有讀卡機）繳費。若需其他付款方式，煩請儘早預訂。                            </p>

                        <p style="display:none;" class="answer" id="ans26">
                            信用卡個人隱私，潔客幫只能夠確定未扣款成功，但詳細原因屬信用卡個人隱私，需詢問您的發卡銀行。<br />
                            一般來說，可能的情況有：<br />
                            1. 未開通網路刷卡。<br />
                            2. 發卡銀行針對網路刷卡設定認證機制，需於銀行認證頁面輸入動態認證或簡訊認證碼，若一直不成功或沒有收到認證碼，請詢問發卡銀行。<br />
                        </p>

                        <p style="display:none;" class="answer" id="ans27">
                            在結帳頁面「輸入優惠卷代碼」欄位填上您的優惠代碼，並按下「使用」，即可折抵。若為會員，可於「會員中心」的「我的優惠券」查看優惠代碼詳細資訊。                            </p>

                        <p style="display:none;" class="answer" id="ans29">
                            因為我們每次開放兩個月的時間，若您看不到欲選擇的時間就表示該時段已滿，麻煩再試著選擇其他日期，也可以提早預定服務。                            </p>

                        <p style="display:none;" class="answer" id="ans31">
                            線上預約訂購頁面，輸入您的房屋資訊、清潔需求，系統根據平均值為您估算所需的清潔時數。您也可以依家裡的狀況增加或減少。<br />
                            <br />
                            *提醒您：若您的家久未打掃，第一次清潔可能會比您想像中的時間還久，建議於預定時多增加1～2小時，或待預定日期當天清潔服務人員到府時，與人員詳細溝通，若超過時間無法全部打掃完，可詢問服務人員是否能夠配合加時清潔。<br />
                        </p>

                        <p style="display:none;" class="answer" id="ans32">
                            臨時有事當然可以取消或者改期喔！<br />
                            會員可前往「會員中心」中「我的清潔預定」更改訂單服務時間，每一位會員每一筆訂單，可以有一次更改服務時間的機會喔！<br />
                            非會員如果想要更改時間，請來信 service@jackercleaning.com 或來電客服 02-25959770。<br />
                            提醒您，如果直接取消服務，潔客幫將會扣除5%金流手續費後退款給您。<br />
                            若於服務日前一天下午六點前改期並不會收取額外費用，若於服務日前一天下午六點後改期或取消服務會酌收訂單金額30% 的手續費喔！若於服務日當天改期或取消服務會酌收訂單金額50%的手續費喔！<br />
                            謝謝您。                            </p>

                        <p style="display:none;" class="answer" id="ans33">
                            1.服務開始前一日18:00後取消或更改酌收整體服務費用30%<br />
                            2.已於開始服務時間取消服務則酌收整體服務費用50%<br />
                            3.取消服務，退款將酌收5%金流手續費。<br />
                        </p>

                        <p style="display:none;" class="answer" id="ans34">
                            請來信或來電告知您的訂單編號或手機號碼。若是使用信用卡以外的方式付款，請一併附上欲退款的帳戶資訊。<br />
                        </p>

                        <p style="display:none;" class="answer" id="ans35">
                            潔客幫將於收到退款帳戶資訊後三個工作天內進行退款。<br />
                            線上刷卡付款的訂單，將於收到退款要求的三個工作天內進行刷退。依照各銀行規定結帳日，金額可能在下期帳單才呈現，有疑問請撥打信用卡背面電話詢問客服。                            </p>

                        <p style="display:none;" class="answer" id="ans36">
                            如遇以下颱風情況，預約當日的服務雙方，可全額退款取消或延期服務：<br />
                            1. 該地區達中央氣象局公告當日不上班。<br />
                            2. 服務人員住址與服務地址路程因颱風造成道路坍塌或路面淹水。<br />
                            3. 雖未宣告放颱風假，但當天潔客幫判斷雨勢與風勢若過大，亦可取消或延期。<br />
                            <br />
                            潔客幫將盡快在恢復上班的工作天與您聯繫延期或退費事宜。                            </p>

                        <p style="display:none;" class="answer" id="ans37">
                            可於結帳系統選擇個人戶電子（二聯）發票、載具發票、捐贈、三聯式紙本發票。                            </p>

                        <p style="display:none;" class="answer" id="ans38">
                            根據財政部令 台財資字第1020002795號 「電子發票實施作業要點」，潔客幫會將發票號碼上傳至財政部電子發票整合平台，也將於訂購後三小時內發送電子發票資訊至您的信箱，不再主動寄送紙本發票，您可自行至財政部電子發票整合平台查詢消費發票紀錄。<br />
                            <br />
                            使用電子發票，潔客幫會協助兌獎並將中獎的發票掛號寄出，若隔月10號後尚未收到發票請與我們聯絡。<br />
                        </p>

                        <p style="display:none;" class="answer" id="ans39">
                            如選擇索取三聯式紙本發票，須附上統編、抬頭，於服務後一週內採郵局平信方式寄送至指定地址，遺失恕不補發。<br />
                        </p>

                        <p style="display:none;" class="answer" id="ans40">
                            載具發票是儲存電子發票的工具，於結帳時系統輸入自然人憑證或手機條碼。相關載具申請參考財政部電子發票整合服務平台。<br />
                        </p>

                        <p style="display:none;" class="answer" id="ans41">
                            只要您曾經預定過潔客幫，使用同一組手機號碼預定時，即可以看見曾經服務過您的清潔服務人員，您可以勾選該位人員，或勾選其他，排除該位服務人員。<br />
                        </p>

                        <p style="display:none;" class="answer" id="ans42">
                            潔客幫規定服務人員須於服務的前一天傍晚至晚上9點之間主動聯絡您。若遲遲未收到服務員的聯絡也歡迎向潔客幫反應。                            </p>

                        <p style="display:none;" class="answer" id="ans43">
                            層層篩選：潔客幫在聘用服務人員時皆經過層層篩選機制，且根據每一次服務成立回饋評價機制，關心顧客感受，剔除不適任的服務人員。<br />
                            身份驗證：服務人員皆具有警政機關之無前科背景調查。<br />
                            品質把關：服務過程中有不滿意的地方，或發生服務人員偷懶的情況，也歡迎隨時告知潔客幫，經查證屬實，我們會負起把關服務品質的責任並視情況彌補您的損失。                            </p>

                        <p style="display:none;" class="answer" id="ans44">
                            在潔客幫服務的人員皆被加入保險名單，若不慎於工作時或工作途中發生意外，皆會交由保險公司處理後續事宜。<br />
                        </p>

                        <p style="display:none;" class="answer" id="ans45">
                            為保障客戶權益，潔客幫禁止服務人員私底下和客戶接單、改期或取消，任何改期、取消、調派其他服務人員⋯等等動作，皆透過潔客幫與客戶安排。任何與服務人員私下達成的協議，即不受潔客幫保障，同時一旦發現屬實均會視情況懲處服務人員。<br />
                        </p>

                        <p style="display:none;" class="answer" id="ans46">
                            請於服務人員離開前檢查是否有物品遺失或損壞。若服務過程不慎導致物件損壞，釐清相關責任後將負責一定程度賠償，最高理賠一萬元。<br />
                        </p>

                        <p style="display:none;" class="answer" id="ans47">
                            由第三方金流支付公司「智付寶」處理本公司金流，SSL 256bit加密機制及PCI-DSS支付卡產業資料安全標準3.0認證，確保買賣雙方資料安全。<br />
                        </p>

                        <p style="display:none;" class="answer" id="ans48">
                            清潔劑：萬用去污膏、廚房清潔劑、浴廁清潔劑、玻璃清潔劑<br />
                            清潔工具：伸縮拖把、刮刀、抹布、菜瓜布<br />
                            如需潔客幫提供以上清潔用品需加收 $100元，清潔用品皆通過SGS認證、可生物分解不殘留、適合居家環保清潔，請您安心使用。                             </p>

                        <p style="display:none;" class="answer" id="ans49">
                            清潔劑：衣物洗衣精、衣物去污粉、洗碗精、漂白水<br />
                            清潔工具：各種垃圾袋、掃把、吸塵器、水桶                            </p>

                        <p style="display:none;" class="answer" id="ans50">
                            潔客幫目前皆以清潔為主、收納為輔，且收納依每個人習慣與私人物品的擺放而不同，因此仍需麻煩由您在現場判定收納的方式、範圍，並給予服務人員指示。<br />
                        </p>

                        <p style="display:none;" class="answer" id="ans51">
                            目前開放台北市全部區域，新北、桃園、新竹、台中部分地區預約居家清潔服務，往後也將陸續擴大服務地區。<br />
                        </p>

                        <p style="display:none;" class="answer" id="ans52">
                            潔客幫的服務人員平、假日皆有提供服務哦，費用一樣是$400元/時，不另加價。                            </p>

                        <p style="display:none;" class="answer" id="ans53">
                            很抱歉，潔客幫目前暫時還無法提供當天訂、當天掃的服務。<br />
                        </p>

                        <p style="display:none;" class="answer" id="ans54">
                            潔客幫和其他清潔公司最大的差別，即是透過線上預約就能直接確定服務時間。進行預約時，系統會列出目前尚有服務人員可服務的時間供您預約，一旦您預約及付款成功，訂單成立即代表預約成功，同時系統也會寄送訂單確認信至您的信箱。                            </p>

                        <p style="display:none;" class="answer" id="ans55">
                            潔客幫目前提供居家清潔、定期清潔、大掃除、裝潢清潔、清洗衣機及除蟎清潔。服務內容<br />
                        </p>

                        <p style="display:none;" class="answer" id="ans56">
                            基於客戶隱私、服務人員安全等考量，潔客幫服務人員不進行以下服務：<br />
                            ・移動或抬起超過10公斤的大型家具或重物<br />
                            ・天花板、高處窗戶及可觸及範圍外的表面清潔<br />
                            ・無危險性外窗清潔及窗簾、紗窗清洗<br />
                            ・寵物排泄及重度汙染區域清潔<br />
                            ・危險化學物質處理<br />
                            ・地毯深度清潔及清洗（基本除塵除外）<br />
                            ・各式陳年、染色汙點清潔<br />
                            ・除蟲害（例蜂窩、昆蟲……等）<br />
                            ・垃圾清運工作<br />
                            ・室內惡臭環境<br />
                            ‧	車庫清潔（基本掃除除外）園藝或院子清潔<br />
                        </p>

                        <p style="display:none;" class="answer" id="ans57">
                            鐘點清潔：適合一般居家生活環境整潔，提供標準化與品質保證清潔。若是半年以上未打掃、搬家（租房）前後整理、久無人居的住家，全面且徹底的清潔，建議您依照鐘點清潔的估時計算器延長時數，會達到更好的清潔效果。<br />
                            定期清潔：指定專屬配合的服務人員，並享有定期優惠。<br />
                            裝潢清潔：新房裝修後清潔，提供專業設備並針對建材採用不同清潔用品，一次搞定，馬上入住。<br />
                        </p>

                        <p style="display:none;" class="answer" id="ans58">
                            為保護您的隱私，服務人員不保管鑰匙，因此清潔開始與結束需麻煩您在場開、關門，或請交由第三方（例：大樓警衛）開、關門。開始與結束前10分鐘也建議您在場，與服務人員溝通、檢查當天清潔狀況。                            </p>

                        <p style="display:none;" class="answer" id="ans59">
                            潔客幫目前以清潔為主、收納為輔，且收納依每個人習慣與私人物品的擺放而不同，因此仍需麻煩由您在現場判定收納的方式、範圍，並給予服務人員指示。                            </p>

                        <p style="display:none;" class="answer" id="ans60">
                            由於系統會根據您填寫的地址做篩選，查看當天是否有服務人員能夠服務這個地址。<br />
                            如果您一開始填錯地址會造成系統判斷錯誤，而選擇了無法服務您家地址的服務人員給您，您付款完成訂單還是會成立，只是您預定到的人員並不是能到您確切地址服務的人員喔! <br />
                            若經發現此地址於當天確實無人員可提供服務，客服人員會盡速聯絡您，協助地址更正與改期，若您無法接受改期會協助退款事宜<br />
                            但若是填錯行政區域，該行政區是潔客幫尚未提供服務的地區，只能協助您做退款喔!<br />
                            <br />
                            取消及退款規定如下，<br />
                            1.服務開始前一日18:00後取消或更改酌收整體服務費用30%<br />
                            2.已於開始服務時間取消服務則酌收整體服務費用50%<br />
                            3.取消服務，退款將酌收5%金流手續費。<br />
                            <br />
                            因此在填寫地址的時候要特別小心喔！避免系統判斷錯誤造成您困擾就不好了，謝謝您!                            </p>

                    </div>
                </div>

            </div>

        </div>
    </div>


</div>

<script type="text/javascript">
    (function(){
        $('.category').live('click', function(){
            $('.answer').hide();
            $('.category').removeClass('categorySelected');
            $('.questionTitle').removeClass('questionSelected');
            $(this).addClass('categorySelected');
            var categoryTitle = $(this).children().text();
            var categoryNo = $(this).attr('data-category');
            $('#categoryTitle').text(categoryTitle);
            if(categoryNo==0){
                $('.questionTitle').hide();
                $('.commonFaq').show();
            }
            else{
                $('.questionTitle').hide();
                $('.category'+categoryNo).show();

            }


        });
        $('.questionTitle').live('click', function(){
            $('.questionTitle').removeClass('questionSelected');
            $(this).addClass('questionSelected');

            $('.glyphicon').removeClass('glyphicon-menu-right').addClass('glyphicon-menu-left');
            $(this).find('.glyphicon').removeClass('glyphicon-menu-left').addClass('glyphicon-menu-right');

            var faqNo = $(this).attr('faqNo');
            $('.answer').hide();
            $('#ans' + faqNo).fadeIn();

        });
    })();
</script>

<footer id="footerDomain">
  <div class="container">
      <div class="col-md-12 col-sm-12">
        <div class="footerInfo">
          <p><span>09:00- 19:00全年无休</span></p>
            <p>1234567890</p>
            <p>邮箱地址<a href='mailto:info@icleaninginnovation.com.au'>info@icleaninginnovation.com.au</a></p>
          <p>墨尔本地址</p>
          <ul class="serviceList">
            <li class="">
                <a href="book/choice">清潔預約</a>
            </li>
            <li>
              <a href="home/about">關於我們</a>
            </li>
            <li>
              <a href="home/help">常見問題</a>
            </li>
            <li>
              <a href='mailto:service@jackercleaning.com'>聯絡我們</a>
            </li>
            <li>
                <a href="home/policy">網站條款</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-xs-12">
      <div class="footerWordsArea">
        <div class='footerKeyWords'>
          Keywords:
          <a href="sitemap.xml" title="台北居家清潔" target="_blank"><strong>台北居家清潔</strong></a>
          <a href="sitemap.xml" title="新北市清潔打掃" target="_blank"><strong>新北市清潔打掃</strong></a>
          <a href="sitemap.xml" title="新竹清潔打掃" target="_blank"><strong>新竹清潔打掃</strong></a>
          <a href="sitemap.xml" title="台中清潔打掃" target="_blank"><strong>台中清潔打掃</strong></a>
          <a href="sitemap.xml" title="桃園家事服務" target="_blank"><strong>桃園家事服務</strong></a>
          <a href="sitemap.xml" title="打掃服務" target="_blank"><strong>打掃服務</strong></a>
          <a href="sitemap.xml" title="清潔打掃" target="_blank"><strong>清潔打掃</strong></a>
          <a href="sitemap.xml" title="家事清潔" target="_blank"><strong>家事清潔</strong></a>
          <a href="sitemap.xml" title="居家清潔" target="_blank"><strong>居家清潔</strong></a>
        </div>
        <p class="footerKeyWords">
            © i-Cleaning 2014~2015 All Right Reserve
        </p>
      </div>
    </div>
  </div>
</footer>

<div id="fb-root"></div>
<script type="text/javascript">
    window.GLOBALVAR  = {
        "BASE_URL" : "http://www.jackercleaning.com/",
        "SITE_URL" : "http://www.jackercleaning.com/",
        "HOUR_FEE" : 400,
        "TOMORROW" : "2016/09/03 00:00:00",
        "SHARE_CUPON" :100,
    };
</script>
<script type="text/javascript" src="http://www.jackercleaning.com/home/region?v=2"></script>
<script type="text/javascript" src="http://www.jackercleaning.com/Assets/js/all_include.js?v=3.51"></script>

<script>
    function checkPhoneBar() {
        var result = false;
        $.ajax({
            url: GLOBALVAR.SITE_URL+'receipt/checkPhoneBar',
            type: 'GET',
            data: {
                "phoneCode": $("input[name='phoneBarcode']").val(),
            },
            async: false,
            cache: false,
            timeout: 30000,
            dataType : 'json',
            error: function(data){
                result = false;
            },
            success: function(data){
                if(data.code != 200) {
                    result = false;
                } else {
                    if(data.isExist == 'Y') {
                        result = true;
                    } else {
                        result = false;
                    }
                }

            }
        });
        return result
    }

    function checkIDcardBar() {
        var idRe = /^[A-Z]{2}\d{14}$/;
        if(!$("input[name$='IDcardBarcode']").val().match(idRe)) {
            return false;
        } else {
            return true;
        }
    }
    function msieversion() {

        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");

        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {  // If Internet Explorer, return version number
            var ieversion = parseInt(ua.substring(msie + 5, ua.indexOf(".", msie)));
            if(ieversion < 10) {
                BootstrapDialog.alert({
                    title: '請先升級您的瀏覽器！',
                    message:'為保持您瀏覽本網站的最佳品質，建議您升級您的IE瀏覽器至IE 10以上版本，或採用Chrome或Firefox瀏覽器，或撥打客服電話' + "02-25626869" + ' (' + "9:00~18:00全年無休" + ')由我們替您服務!',
                    callback: function(result) {
                        window.location.href= "http://windows.microsoft.com/zh-tw/internet-explorer/download-ie";
                    }
                });
            }
        }

    }
    $(document).ready(function() {
        msieversion();
        var boxWidth =$(".box").width();
        $(".box").height(boxWidth);


        window.fbAsyncInit = function() {
            FB.init({
                appId      : '648398685259407',
                xfbml      : true,
                cookie     : true,
                version    : 'v2.1',
            });
            $('#fbLoginButton').live('click',function(){
                $.blockUI({ css: {
                    border: 'none',
                    padding: '5px',
                    backgroundColor: '#000',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: .5,
                    color: '#fff'
                },baseZ: '2000' });
                checkLoginState();
            });
        };
    });
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/zh_TW/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

</script>
<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
            d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
        $.src='//v2.zopim.com/?2plzbQh5TiPgJVcn1k1BmlySVeDXeJ96';z.t=+new Date;$.
                type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>

<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 969666957;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/969666957/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>
</body>
</html>